@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box; /* if we make a box of 500 width then after applying padding also it should be adjusted in that 500 px only and should not become 520px */
}

body{
    font-family:'Montserrat',sans-serif;
}
